*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    font-size: 12px;
  }
.hero{
    height: 100vh;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1624377632657-3902bfd35958?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ===================================Navbar============================================= */

nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 2rem;
    /* padding-right: 1rem; */
    padding-top: 2rem;
}
.dropdown{display: none;}
.logo{
    color: white;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}
 span{
    color: #f9004d;
}


.menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 50rem;
    margin: 0 3rem;
    /* height: 100vh; */
    list-style: none;
  }
  
  .menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
  }
    .menu li a {
      font-size: 22px;
      color: #777;
      text-decoration: none;
      transition: all 1s;
    }
  
    .menu li:hover {
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
      animation: line 1s;
    }
  
    .menu li:hover a {
      color: #d94f5c;
    }
  
    .menu li:not(:last-child) {
      margin-right: 30px;
    }
  
  
  @keyframes line {
    0% {
      background-position-x: 390px;
    }
  }
/* ___________________________________________________________________________________________________ */

/* ===================================Home============================================ */
.home{
    position: absolute;
    top: 50%;
    left: 8%;
    transform:translateY(-50%) ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: white;
    margin: 1.25rem 0rem 1.25rem;
    font-size: 4.3rem;
}
h3{
    color: white;
    font-size: 1.53rem;
    margin-bottom: 3.125rem;
}
h4{
    color: #584c63;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
}
/* **************************************** */
.newsletter form{
    display: flex;
    width: 23.75rem;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 0.875rem 8.125rem 0.875rem 0.938rem ;
    border: 2px solid #f9004d ;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    top: 0.375rem;
    right: 0.375rem;
    position: absolute;
    display: block;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #f9004d;
    padding: 0.625rem 1.875rem;
    color: white;
    cursor: pointer;
    
}

/* =======================================About ME=============================================== */
.aboutus{
    margin: 1rem;
    background-color: #202030;
    width: 99.5%;
    height: fit-content;
    display: flex;
    border-radius: 10px;
}
.subhead{
    padding-left: 5rem;
    font-size: 2rem;
    font-weight: bolder;
}
.aboutus h2{
    color: blanchedalmond;
    padding-left: 5rem;
    font-size: 4rem;
}
.aboutus p{
    color: blanchedalmond;
    padding: 5rem;
    padding-top: 2rem;
    /* font-size: 4rem; */
    /* text-align: center; */
}
.aboutus img{
    padding: 5rem;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
}

/* ====================================================================== */


.services{
    margin: auto;
    margin-bottom: 1rem;
    background-color: #202030;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}
.services h2{
    color: blanchedalmond;
    padding-left: 5rem;
    font-size: 4rem;
}
/* ====================================================== */
.Myservice{
    /* border: 2px solid yellow; */
    /* text-align: center; */
    color: white;
    padding-left: 5rem;
}
.service{
    display: flex;
    padding: 2rem;
    text-align: center;
}
.service img{
    margin-top: 2rem;
    height: 15rem;
    width: 20rem;
    border-radius: 20px;
}
.w{
    border-radius: 10px;
}
.w:hover{
    color: black;
    background-color: white;
    transition:background-color .5s ease-out 0s;
    width: 100%;
}
/* ************************ */

  /* *************************************************************************************************** */


  /* ==========================================Skillls============================================= */
  .skill{
      background-color: rgba(0, 0, 0, 0.363);
      width: 75%;
      /* border: 2px solid yellow; */
      /* margin-left: 10rem; */
      padding: 4rem;
      margin: auto;
      border-radius: 20px;
      margin-bottom: 1rem;
  }
  .skill h2{
        color: blanchedalmond;
        padding-left: 5rem;
        font-size: 4rem;
  }
  .skills-row {
    margin-top: 80px;
  }
  .skill-item {
    border-bottom: 1px solid rgba(250,250,250,0.1);
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .last-skill {
    border-bottom: none;
  }
  .skills-row span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    top: -21px;
    position: absolute;
    z-index: 999;
  }
  .skills-row h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-align: right;
    margin-bottom: -10px;
  }
  .skill-bar {
    width: 70%;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(250,250,250,0.25);
    position: relative;
  }
  .filled-bar {
    position: absolute;
    z-index: 99;
    width: 64%;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
  }
  .filled-bar-2 {
    position: absolute;
    z-index: 99;
    width: 82%;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
  }

  /* ***********************************************my Work*********************************************************************** */
  /* ----------------------------- */
.works {
    font-family: "Montserrat", sans-serif;
    background: #202030;
    padding: 2rem 2rem;
    border-radius: 5px;
  }
  .works h2{
      color: white;
  }
  
  .item-grid {
    max-width: 900px;
    margin: 100px auto;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
    overflow:hidden;
  }
  
  .item {
    position: relative;
    float: left;
    width: 33.33333333333%;
    background-color: #128EF3;
    overflow: hidden;
    }
    .item:after {
        content: '';
        display: block;
        background-color: inherit;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
        transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .item:hover:after {
        transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
      }
      .item:hover .item-image {
        transform: scale(1.2) translateZ(0);
      }
      .item:hover .item-text {
        opacity: 1;
        transform: translateY(0);
      }
  .item-image {
    height: auto;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
  }
    .item-image::before {
      content: "";
      display: block;
      padding-top: 75%;
      overflow: hidden;
    }
    .item-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
    }
  
  
  .item-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #ffffff;
    transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 300ms;
    transform: translateY(-20%);
  }
  
  .item-text-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .item-text-title {
    font-weight: normal;
    font-style: 14px;
    padding: 0 15px;
    margin: 5px 0 0 0;
  }
  
  .item-text-dek {
    text-transform: uppercase;
    font-style: 12px;
    opacity: 0.7;
    margin: 0;
  }
  
  .item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
  }

  /* <!-- ==============================================Conatct Form===========================================================  */

  
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  


  /* ===================== */
  footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    border-radius: 30px;
    height: 5rem;
}
footer a {
    text-decoration: none;
    padding: 7px;
    color: white;
    }

    /* =====================================================================================================================================================================                                                                       Responsive Css
    =================================================================================================================================================================== */
    /* Navigation */
    

    @media (max-width: 1058px){
        /* dropdown menu desin___________ */
        .reshide{
            display: none;
        }
.dropdown{
    position: absolute;
    margin: auto;
    margin-top: 2rem;
    margin-left: 1rem;
    display: block;
}
.dropdown a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 10px;
}
.navbtn{
    margin: 0.5rem;
}
.ddbox {
    display: none;
}
.dropdown:hover .ddbox{
    display: block;
}
.dropdown a:hover{
    background-color: black;
    color: white;
}

/* ==================== */
.aboutus{
    display: flex;
    flex-direction: column;
}
.aboutus img{
    height:60%;
    width:70% ;
}
.service{
    flex-direction: column;
}
.service img{
    height:60%;
    width:70% ;
}
.head{
    /* font-size: 0.2rem; */
    padding-left: 2rem;
}
.newsletter form{
    width: 90%;
}
    }

    /* ------responsive---- */
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
    .skill-item h6{
        font-size: 0.6rem;
    }
    .hero{
        width: 100%;
    }
    .services{
        width: auto;
    }
    .aboutus{
        width: auto;
    }
    .head{
        display: none;
    }
    .skill{
        width: auto;
    }
}
    